<breadcrumbs item-is-archive="true" name="Інтернет-вітрина «Фуд Маркет Груп»"></breadcrumbs>
<article>
  <blockquote>
    <strong>Задача:</strong> створити інтернет-вітрину для розповсюджувача імпортних продуктів харчування.
  </blockquote>
  <p>У студії розробили привабливий сайт з можливостями інтернет-вітрини та блога.</p>
  <figure>
    <p><img src="/assets/images/bucket/fmg/small-screen.png" alt="Головна сторінка" width="1007" height="1165"></p>
    <figcaption>На головній показуємо заморські ласощі</figcaption>
  </figure>
  <figure>
    <p><img src="/assets/images/bucket/fmg/large-screen.png" alt="Головна на великому екрані" width="1393" height="550"></p>
    <figcaption>Композиція адаптується під розмір екрану</figcaption>
  </figure>
  <figure><p><img src="/assets/images/bucket/fmg/products.png" alt="Сторінка каталога" width="1280" height="657"></p>
    <figcaption>Сторінка каталога</figcaption>
  </figure>

  <p>Сайт орієнтовано як на споживачsd товарів, так і на потенційних бізнес-партнерів. Мапа представництв, яку збудовано на базі мапи Гугл, показує покриття торговельною мережею території України і заохочує до співпраці дистриб’юторів.</p>
  <figure>
    <p><img src="/assets/images/bucket/fmg/map.png" alt="Мапа представництв" width="1278" height="873"></p>
    <figcaption>Мапа представництв</figcaption>
  </figure>
  <p>Роботу здано до архіву в 2015 році.</p>
</article>
<a ui-sref="index">Повернутися до списку проектів</a>