<article>
    <p>Веб-студия «Перебор»* делает сайты, интернет-магазины, промо-странички, интранет-приложения, мобильные приложения и&nbsp;вот&nbsp;это вот всё (подробно о&nbsp;проектах по&nbsp;ссылкам):</p>
    <ul>
        <li>«<a href="http://pereborstudio.com">Перебор</a>»&nbsp;— сайт веб&#8209;студии (комбо! сапожник в сапогах! см. «<a href="http://lurkmore.to/Рекурсия">рекурсия</a>»)</a></li>
        <li><span archive>«<a href="/projects/whoshoe">Чей туфля?</a>»</span>&nbsp;— интернет&#8209;магазин обуви</li>
        <li><span archive>«<a href="http://food-mg.com">Фуд Маркет Груп</a>»</span>&nbsp;— сайт&#8209;витрина продуктовой компании</li>
        <li>«<a href="http://feedthedevs.herokuapp.com">Накорми разработчиков</a>»&nbsp;— приложение, позволяющее оценивать предложенные разработчиками изменения в проектах на Гитхабе (идея и прототип <a href="http://stepansuvorov.com">Степана Суворова</a>)</li>
        <li>«<a href="http://justprivat.com.ua">Юстприват</a>»&nbsp;— информационный сайт юридической фирмы</li>
        <li>«<a href="http://remont-far.in.ua">Ремонт фар</a>»&nbsp;— целевая страница автомастерской</li>
        <li>«<a href="http://xmasbeard.com">Xmas Beard</a>»&nbsp;— рождественская игра под Андроид (<a href="https://play.google.com/store/apps/details?id=com.hiploaded.christmasbeard">скачать на Плеймаркете</a>). Мы нарисовали интерфейс и логотип игры</li>
    </ul>
    <h4>А ещё у нас есть зайчик: <img src="/assets/images/logo_100x100_transp_dark.png"></h4>

    <p>Свяжитесь с&nbsp;нами:</p>
    <p>Аня Переверзева, дизайнер, верстальщик, сео&#8209;оптимизатор&nbsp;— <a href="mailto:ania&#64;pereborstudio.com">ania&#64;pereborstudio.com</a></p>
    <p>Серёжа Переверзев, верстальщик, кодер, администратор&nbsp;— <a href="mailto:serg&#64;pereborstudio.com">serg&#64;pereborstudio.com</a></p>    </p>
    <div class="hr"></div>
    <p class = "ref">* Принципиально разрешимые задачи всегда разрешимы путём, как&nbsp;минимум, полного перебора. Студия «Перебор» сделает для&nbsp;вас подходящий инструмент, пусть даже для&nbsp;этого придётся перебрать и&nbsp;отбросить множество вариантов.</p>
</article>